{% if item.0 == 0 %}{{ apache_global_vhost_settings }}{% endif %}

<VirtualHost {{ apache_listen_ip }}:{{ apache_listen_port_ssl }}>
  ServerName {{ item.1.servername }}
{% if item.1.serveralias is defined %}
  ServerAlias {{ item.1.serveralias }}
{% endif %}
{% if item.1.documentroot is defined %}
  DocumentRoot {{ item.1.documentroot }}
{% endif %}

  SSLEngine on
  SSLCipherSuite {{ apache_ssl_cipher_suite }}
  SSLProtocol {{ apache_ssl_protocol }}
  SSLHonorCipherOrder On
{% if apache_vhosts_version == "2.4" %}
  SSLCompression off
{% endif %}

{% if apache_ssl_certificate_files.results[item.0].stat.exists %}
  SSLCertificateFile {{ item.1.certificate_file }}
  SSLCertificateKeyFile {{ item.1.certificate_key_file }}
{% if item.1.certificate_chain_file is defined %}
  SSLCertificateChainFile {{ item.1.certificate_chain_file }}
{% endif %}
{% else %}
  SSLCertificateFile      /etc/ssl/certs/ssl-cert-snakeoil.pem
  SSLCertificateKeyFile   /etc/ssl/private/ssl-cert-snakeoil.key
{% endif %}

{% if item.1.serveradmin is defined %}
  ServerAdmin {{ item.1.serveradmin }}
{% endif %}
{% if item.1.documentroot is defined %}
  <Directory "{{ item.1.documentroot }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
{% if apache_vhosts_version == "2.2" %}
    Order allow,deny
    Allow from all
{% else %}
    Require all granted
{% endif %}
  </Directory>
{% endif %}
{% if item.1.extra_parameters is defined %}
  {{ item.1.extra_parameters }}
{% endif %}
</VirtualHost>
